<div style="font-size: 12px;">
    <mat-form-field appearance="outline">
        <mat-label>{{titulo}}</mat-label>
        <input 
            matInput 
            [type]="type" 
            [placeholder]="placeholder" 
            [value]="innerValue" 
            (input)="inputHandler($event)" 
            (blur)="setTouched()"
            [formControl]="ngControl.control"
            [imask]="imaskConfig"
        >
        <mat-icon matSuffix color="primary" *ngIf="ngControl.hasError('required') && ngControl.touched">error</mat-icon>
        <mat-error *ngIf="ngControl.hasError('required')">
            Campo obrigátório
        </mat-error>
    </mat-form-field>
</div>