<div class="mb-3 cartao-titulo">
    <h1 class="texto-principal text-center">Qual relatório você deseja visualizar?</h1>
    <p class="text-center">Se você deseja cadastrar um novo relatório, <a>clique aqui.</a></p>
</div>

<div class="row align-items-center justify-content-center">
    <div class="cartao-busca">
        <div class="header mb-4">
            <h6 class="titulo-cartao text-center">Filtre para visualizar relatório:</h6>
        </div>
    
        <div class="corpo">
            <div class="row">
                <div class="col-md-10">
                    <div class="input-container">
                        <i class="icon">
                            <mat-icon style="font-size: 18px;">search</mat-icon>
                        </i>
                        <input type="text" class="input" placeholder="Selecione o relatório que deseja visualizar"/>
                        <i class="icon">
                            <mat-icon style="font-size: 22px;">keyboard_arrow_down</mat-icon>
                        </i>
                    </div>
                    <div>
                        <ul class="lista">
                            <li>
                                Relatório 1
                            </li>
                            <li>
                                Relatório 2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger" style="height: 42px; width: 100%;">Buscar</button>
                </div>
            </div>
        </div>
    
    </div>
</div>


<div class="card-buscado">

</div>