.texto-principal{
    font-family: 'Lopes';
    font-weight: 600;
    font-size:28px;
}

.cartao-titulo{
  height: 135px;

  & p{
    color:#6F6F6F;
    font-size:16px;

    & a{
      color:#EB194B;
    }
  }
}

.cartao-busca {
    margin: 0 auto;
    z-index:9999;
    top: 190px;
    position: absolute;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: #FFF;
    box-shadow: 0px 3px 6px #00000029;
    width: 800px;
    border-radius: 8px;

    .titulo-cartao{
        font-family: 'Lopes';
        font-weight: 600;
        font-size: 14px;
        padding:5px;
        color:#EB194B;
    }

    .corpo{
      padding-top: 10px;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 20px;
    }
  
    & .header{
      padding-top:10px;
      border: 1px solid #F2F2F2;
    }
  }


.card-buscado{
    background-color: #FFFFFF;
    height: 450px;
    z-index: 1;

}





/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #C4C4C4;

  /* Style the form icons */
  & .icon {
    padding: 10px;
    color: #6F6F6F;
    min-width: 50px;
    text-align: center;
  }

  .input{
    height: 41px;
    width: 100%;
    padding: 10px;
    outline: none;
  
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-family: 'Lopes';
      font-size:18px;
      font-weight: 300;  
    }
  }  
}

.lista{
  max-height: 290px;
  overflow-y: auto;

  & li{
    padding: 15px 10px;
    font-family: 'Lopes';
    border-bottom: 1px solid #F2F2F2;
  }
}

.btn{
  font-family: 'Lopes';
  font-weight: 600;
  font-size: 14px;
}
