@import '../../../../Sass/main';

.linha-cabecalho{
    height: 50px;
    color: #60656C;
    
    & small{
        display: block;
        margin: 11px 0 10px 11px;
        padding-left: 2px;
        padding-top: 3px;
        

        .icone {
            vertical-align: super;
            width:8px;
            height: 8px;
            cursor: pointer;
        }
    }


    & .slot-cabecalho{
        box-sizing: border-box;
        height: 40px;
    }
}

.container-tabela{
    margin: 0 10px; 
    box-sizing: border-box;
    width: calc(100% - 20px);
    color: #60656C;

    & table{
        width: 100%;

        th{
            box-sizing: border-box;
            background-color: #F4F4F4;
            border-bottom: 2px solid #000000;
            text-align: left;
            padding-left: 10px;
            font-weight: 500;


            &:hover{
                background-color: #00000029;
                .cabecalho-icone{
                    opacity: 1;
                }
            }

            .coluna-cabecalho{
                height: 56px;
            }

            & .cabecalho-texto{
                font-display: block;
                float: left;
                box-sizing: border-box;
            }

            & .cabecalho-icone{
                opacity: 0;
                float: right;
                box-sizing: border-box;

                .icone{
                    font-size: 22px;
                    text-align: right;
                    cursor: pointer;
                }
            }
        }

        tr{
            &:hover{
                background-color: #EAEAEA;
                .menu-acao{
                    background-color: #EAEAEA;
                }
            }
        }

        td{
            box-sizing: border-box;
            height: 40px;
            padding-top:10px;
            padding-left: 10px;
            border-bottom: 1px solid #EBEBEB;
            text-align: left;
            color: #60656C;


            & .coluna-texto{
                padding-top:10px;
            }

            & .coluna-icone-acao{
                padding-top:0px;
                vertical-align: middle;
            }

            .corpo-status{
                margin-left:25px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #CCCCCC;
                
                &.verdadeiro{
                    background-color: #00995D; 
                }

                &.falso{
                    background-color: #ED1651;
                }
            }


            .icone-acao{
                display: inline-block;
                margin-left:4px;
                box-sizing: border-box;
                width: 26px;
                height: 26px;
                border: 2px solid #DEE2E6;
                border-radius: 20px;
                color: #DEE2E6;
                padding: 2px 0px;
                text-align: center;
                cursor: pointer;

                & .icone{
                    font-size: 22px;
                    height: 12px;
                    width: 12px;
                }

                &:hover, &:active{
                    border-color: #00995D;
                    color: #00995D;
                } 
            }
        }
    }
}

.sem-registro{
    margin: 20px 0;
    color: #60656C;
    text-align: center;
}

.linha-rodape{
    height: 40px;
    color: #60656C;
    margin-top: 42px;

    & .coluna-exibicao{
        height: 40px;

        & small{
            display: block;
            padding-left: 12px;
        }
    }

    .select-itens{
        width: 80px;
        margin: 0px 3px;
        height: 20px;
        color: #00995D;
    }

    & .coluna-paginacao{
        height: 40px;
        padding-right: 11px;

        .linha-paginacao{
            display: block;
            float: right;

            .botao-paginacao{
                display: block;
                float: left;
                box-sizing: border-box;
                width: 30px;
                height: 30px;
                margin: 2.5px;
                border: 1px solid #BCBCBC;
                border-radius: 3px;
                padding-right: 2px;
                background-color: #FFFFFF;
                color: #323232;
                cursor: pointer;
                text-align: center;
    
                & small{
                    display: inline-block;
                    margin-top: 4px;
                    margin-left: 1px;
                }

    
                &:disabled{
                    opacity: 0.2;
                    border: 1px solid #BCBCBC;
                    color: black;
                    cursor: not-allowed;
                }
    
                &.ativo{
                    color: #000000;
                    border: 2px solid #000000;
                    border-radius: 3px;
                }

                &.icone-arrow{
                    padding-top: 3px;
                    height: 15px;
                    width: 15px;                    
                }

                &.icone{
                    height: 15px;
                    width: 15px;
                }
    
            }
        }
    }
}

.icone-padrao{
    vertical-align: super;
    height: 15px;
    width: 15px;
}

@media(max-width: 800px){
    .container-tabela {
        overflow: scroll;
    }
}


.mat-select-value{
    padding-left: 12px;
    font-family: 'Raleway';
    font-weight: 500;
}

.mat-select-arrow {
    color:black
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color:#747474
}

.mat-option-text{
    text-align: center;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color:black
}


.mat-select-trigger {
    min-width: 10px
}

.mat-form-field-appearance-outline .mat-form-field-infix{
    padding-top: 6px;
    padding-bottom: 12px;
}
.mat-select-panel {
    max-height: 20px;
}

.mat-select-arrow-wrapper{
    padding-top:8px;
}
.mat-select-arrow {
    color:#747474;
    vertical-align: sub;
}