<div>
    <!-- Header -->
    <div class="row linha-cabecalho no-gutters">
        <div class="col-sm-8 ">
            <small class="fonte-secundaria pequeno negrito">
                {{mostrandoLength()}} resultados encontrados
            </small>
            <!--
            <small class="fonte-secundaria texto" *ngIf="itensPorPagina">
                Exibindo
                <mat-form-field class="select-itens" >
                    <mat-select [(value)]="itemSelecionado" id="itensPorPagina" name="itensPorPagina" (selectionChange)="selecionarItem($event)">
                      <mat-option *ngFor="let item of itensPorPagina" [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            
                <select 
                    (change)="selecionarItem($event.target.value)"
                    name="itensPorPagina" 
                    id="itensPorPagina" 
                    class="select-itens"
                >
                    <option 
                        *ngFor="let item of itensPorPagina"
                        [value]="item"
                    >
                        {{item}}
                    </option>
                </select> 
                registros por página
            </small>
            -->
        </div>
    </div>

    <!-- Content -->
    <div class="row no-gutters">
        <div class="col-sm-12">
            <div class="container-tabela fonte-primaria texto">
                <table> 
                    <thead (mouseover)="hoverRow(-1)" (mouseleave)="downRow">
                        <tr>
                            <th 
                                *ngFor="let coluna of cabecalho; let i = index"
                            >
                                <div (click)="ordenaTabela(i)" class="coluna-cabecalho d-flex flex-row align-items-center justify-content-between">
                                    <div class="cabecalho-texto">
                                        {{coluna.texto}}
                                    </div>
                                    <div *ngIf="coluna.icone && utilizarOrdenacao" class="cabecalho-icone mr-2">
                                        <mat-icon class="icone"> arrow_downward</mat-icon>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let row of rows; let i = index"
                            (mouseover)="hoverRow(i)"
                            (mouseout)="downRow"
                            :name="'tabela_' + i"
                            class="fonte-secundaria"
                        >
                            <td class="coluna-texto" *ngFor="let col of rows[i] | keyvalue">

                                <div class="corpo-texto">
                                    {{col.value}}
                                </div>

                            </td>

                            <td *ngIf="icones.length > 0" style="padding-top:0px; vertical-align: middle;">
                                <!--<div class="icone-acao" *ngFor="let icone of icones; let indexIcone = index" (click)="acaoIcone(i,indexIcone)" >
                                    <i-feather [name]="icone" class="icone" ></i-feather>
                                </div>-->
                                <mat-menu #appMenu="matMenu" xPosition="before" class="menu-acao icone-acao" >
                                    <ng-template matMenuContent>
                                        <button mat-menu-item>
                                            <mat-icon style="font-size:18px;">create</mat-icon>
                                            <span class="texto">Redial</span>
                                        </button>
                                    </ng-template>
                                </mat-menu>
                                  
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menu-acao">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="sem-registro fonte-secundaria texto" *ngIf="rows.length == 0" >
                Nenhum registro encontrado.
            </div>
        </div>
    </div>

    <!--Footer-->

    <div class="row linha-rodape no-gutters">
        <div class="col-md-4 coluna-exibicao">
            <small class="fonte-secundaria texto matform" *ngIf="itensPorPagina">
                Exibindo
                <mat-form-field class="select-itens" appearance="outline">
                    <mat-select [(value)]="itemSelecionado" id="itensPorPagina" name="itensPorPagina" (selectionChange)="selecionarItem($event)">
                      <mat-option *ngFor="let item of itensPorPagina" [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
                registros por página
            </small>
        </div>
        <div class="col-md-8">
            <div class="row no-gutters justify-content-end">
                <div class="col-md-4 coluna-paginacao">

                    <div class="linha-paginacao">
                        <!--
                        <button
                            class="botao-paginacao"
                            :disabled="paginaAtual === 1"
                            (click)="trocaPagina(1)"
                        >
                            <mat-icon class="icone-arrow icone-padrao" style="font-size:22px;padding-top:3px">keyboard_arrow_left</mat-icon>
                        </button>-->
                        <button
                            class="botao-paginacao"
                            :disabled="paginaAtual === 1"
                            (click)="trocaPagina(paginaAtual - 1)"
                        >
                            <mat-icon class="icone-arrow icone-padrao" style="font-size:22px;padding-top:3px">keyboard_arrow_left</mat-icon>
                        </button>

                        <div class="botao-paginacao"
                            *ngFor="let pagina of numeroPaginas()"
                            (click)="trocaPagina(pagina)"
                            [class.ativo]="pagina === paginaAtual"
                        >
                            <small class="fonte-secundaria pequeno">{{pagina}}</small>
                        </div>

                        <button
                            class="botao-paginacao"
                            :disabled="paginaAtual === qtPaginas || qtPaginas === 0"
                            (click)="trocaPagina(paginaAtual + 1)"
                        >
                            <mat-icon class="icone-arrow icone-padrao" style="font-size:22px;padding-top:3px">keyboard_arrow_right</mat-icon>
                        </button>
                        <!--
                        <button
                            class="botao-paginacao"
                            :disabled="paginaAtual === qtPaginas || qtPaginas === 0"
                            (click)="trocaPagina(qtPaginas)"
                        >
                            <mat-icon class="icone-arrow icone-padrao" style="font-size:22px;padding-top:3px">keyboard_arrow_right</mat-icon>
                        </button>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>