<div style="font-size: 12px;">
    <mat-form-field appearance="outline">
        <mat-label>{{titulo}}</mat-label>
        <input 
            *ngIf="ngControl !== null"
            matInput 
            [type]="typeDynamic"
            [placeholder]="placeholder" 
            [value]="innerValue" 
            (input)="inputHandler($event)" 
            (blur)="setTouched()"
            [formControl]="ngControl.control"
            [imask]="imaskConfig"
        >
        <input 
            *ngIf="ngControl === null"
            matInput 
            [type]="typeDynamic"
            [placeholder]="placeholder" 
            [value]="innerValue" 
            (input)="inputHandler($event)" 
            (blur)="setTouched()"
            [imask]="imaskConfig"
        >
        <button mat-button mat-icon-button matSuffix *ngIf="searchField" (click)="search()">
            <mat-icon style="font-size: 18px;">search</mat-icon>
        </button>
        <mat-icon *ngIf="type === 'password' && !mustShowErrorMessage() && ngControl !== null" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-icon matSuffix color="primary" *ngIf="mustShowErrorMessage() && ngControl !== null">error</mat-icon>
        <mat-error *ngIf="mustShowErrorMessage()">
            {{errorMessage}}
        </mat-error>
    </mat-form-field>
</div>