<div style="font-size: 12px;">
    <mat-form-field appearance="outline">
        <mat-label>{{titulo}}</mat-label>
        <input 
            matInput 
            [type]="typeDynamic"
            [placeholder]="placeholder" 
            [value]="innerValue" 
            (input)="inputHandler($event)" 
            (blur)="setTouched()"
            [formControl]="ngControl.control"
            [imask]="imaskConfig"
        >
        <mat-icon *ngIf="type === 'password' && !mustShowErrorMessage()" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-icon matSuffix color="primary" *ngIf="mustShowErrorMessage()">error</mat-icon>
        <mat-error *ngIf="mustShowErrorMessage()">
            {{errorMessage}}
        </mat-error>
    </mat-form-field>
</div>