<app-navbar
    [items]="[ { icone:'account_box',currentPage:true, conteudo: { texto: 'GESTÃO DE USUÁRIOS', itens: [ { icone: 'account_circle', texto: 'Usuários', link: 'usuarios'},{ icone: 'dns', texto: 'Perfis'} ] } }, { icone:'insert_chart' , conteudo: { texto: 'LOGS DE ATIVIDADES', itens: [ { icone: 'dns', texto: 'Logs de acesso', link:'log-acesso'},{ icone: 'dns', texto: 'Logs de relatorios'} ] } } ]"
></app-navbar>

  
<app-bread-crumb
  [items]="[{text: 'usuários'},{text: pageTitle}]"
  [titulo]="pageTitle"
></app-bread-crumb>


<div class="cartao">

</div>