<nav>
  <ul class="nav-list">
    <li class="nav-item home">
      <mat-icon class="icone item-principal"> favorite</mat-icon>
    </li>
    <li class="nav-item menu" *ngFor="let item of items">
      <mat-icon class="icone" (click)="toggleMenu()" [class.icone-hover]="!item.currentPage" [class.icone-active]="item.currentPage"> {{item.icone}}</mat-icon>

      <div class="menu-container" *ngIf="item.conteudo" [ngClass]="{'open-menu': menuIsOpen}">
        <div class="menu-header">
          <h2 class="texto-principal negrito" >{{item.conteudo.texto}}</h2>
        </div>
        <ul class="menu-list" *ngFor="let conteudo of item.conteudo.itens">
          <li class="menu-item" routerLink="/{{conteudo.link}}">
            <div class="icone-container">
              <mat-icon class="icone" inline="true" style="font-size:22px; color:#60656C"> {{conteudo.icone}}</mat-icon>
            </div>
            <div class="titulo-container">
              {{conteudo.texto}}
            </div>
          </li>
        </ul>
      </div>

    </li>
  </ul>
</nav>

