nav {
    background-color: #FFFFFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-right: 15px;

    & .logo{
        width: 84px;
        height: 16px;
        background-size: 84px 16px;
        background-image: url('../../../../assets/imagens/red-logo.svg');
    }

    & .nav-link{
        color:#2A2A2A;
        &:hover{
            color:#2A2A2A;
        }
    }
    & .navbar-brand{
        color:#EB194B;
        margin-right: 42px;
        margin-left: 20px;
    }

    .acesso-conta {
        font-family: 'Lopes';
        font-weight: 400;
        color:#EB194B;
    }

}