
<!---->

<div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Lopes</p>
    </div>
</div>
 <div class="main">
    <div class="col-md-12 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
               <app-input-field titulo="Nome"></app-input-field>
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <div class="container-button">
               <button mat-raised-button color="primary" class="btn-entrar">entrar</button>
             </div>
          </form>
       </div>
    </div>
</div>