
<!---->

<div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Lopes</p>
    </div>
</div>
 <div class="main">
    <div class="col-md-12 col-sm-12">
       <div class="login-form">
          <h1> bem-vindo!</h1>
          <form [formGroup]="resourceForm">
             <div class="form-group">
               <app-input-field titulo="Usuário" formControlName="login"></app-input-field>
             </div>
             <div class="form-group senha-input">
               <app-input-field titulo="Senha" formControlName="senha" type="password"></app-input-field>
             </div>
             <div class="container-button">
               <button mat-raised-button color="primary" class="btn-entrar">entrar</button>
             </div>
          </form>
       </div>
    </div>
</div>