.breadcrumb{
    background-color: #F4F4F4;
    padding-left: 0px;
}

.breadcrumb-item, a{
    font-family: 'Raleway';
    font-size:12px;
    color:#000000;

    &:hover{
        color:#000000;
    }
}

.active {
    font-weight: 600;
}

.titulo-principal{
    color:#000000;
}