<app-navbar
    [items]="[ { icone:'account_box', conteudo: { texto: 'GESTÃO DE USUÁRIOS', itens: [ { icone: 'account_circle', texto: 'Usuários', link: 'usuarios'},{ icone: 'dns', texto: 'Perfis'} ] } }, { icone:'insert_chart', conteudo: { texto: 'LOGS DE ATIVIDADES', itens: [ { icone: 'dns', texto: 'Logs de acesso'},{ icone: 'dns', texto: 'Logs de relatorios'} ] } } ]"
></app-navbar>

  
<app-bread-crumb
  [items]="[{text: 'usuários'}]"
  titulo="usuários"
></app-bread-crumb>


<div class="cartao">

    <app-table
        [cabecalho]="cabecalho"
        [rows]="rows"
        [qtResultados]="qtResultados"
        [pagina]="pagina"
        [qtPaginas]="qtPaginas"
        [utilizarOrdenacao]="true"
        [icones]="['edit','trash']"
        (ordena)="ordenar($event)"
        (troca-pagina)="trocaPagina($event)"
        (troca-elemento-pagina)="trocaElementoPagina($event)"
    >

    </app-table>
</div>
