<app-navbar
    [items]="[ { icone:'account_box', conteudo: { texto: 'GESTÃO DE USUÁRIOS', itens: [ { icone: 'account_circle', texto: 'Usuários'},{ icone: 'dns', texto: 'Perfis'} ] } } ]"
></app-navbar>

<app-table
    [cabecalho]="cabecalho"
    [rows]="rows"
    [qtResultados]="qtResultados"
    [pagina]="pagina"
    [qtPaginas]="qtPaginas"
    [utilizarOrdenacao]="true"
    [icones]="['edit','trash']"
    (ordena)="ordenar($event)"
    (troca-pagina)="trocaPagina($event)"
    (troca-elemento-pagina)="trocaElementoPagina($event)"
>

</app-table
>