<div class="row">
    <div class="col-md-10">
        <app-bread-crumb
        [items]="[{text: 'usuários'}]"
        titulo="usuários"
    ></app-bread-crumb>
    </div>
    <div class="col-md-2">
        <button mat-raised-button color="primary" class="btn-entrar" routerLink="new" style="height: 48px;;">
            <mat-icon style="font-size:16px;vertical-align: sub;">add_circle</mat-icon>
            novo usuário
        </button>
    </div>
</div>



<div class="cartao">

    <div class="header">
        <app-input-field titulo="Buscar usuário" [searchField]="true" (search)="buscar($event)"></app-input-field>
    </div>
    
    <app-table
        [cabecalho]="cabecalho"
        [rows]="rows"
        [qtResultados]="qtResultados"
        [pagina]="pagina"
        [qtPaginas]="qtPaginas"
        [utilizarOrdenacao]="true"
        [acoes]="[ { texto:'Editar' }, { texto:'Visualizar' }, { texto:'Inativar integração' }] "
        (ordena)="ordenar($event)"
        (troca-pagina)="trocaPagina($event)"
        (troca-elemento-pagina)="trocaElementoPagina($event)"
        (acao-icone)="acaoIcone($event)"
    >

    </app-table>
</div>