.cartao {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 28px;
    background-color: #FFF;
    box-shadow: 6px 6px 6px #00000029;
}

.corpo {
    margin: 12px 0;
}
