<app-bread-crumb
  [items]="[ { text: 'logs de atividades' },{ text: 'logs de relátorios' } ]"
  titulo="logs de relátorios"
></app-bread-crumb>


<div class="cartao">
    <div class="header">
        <app-input-field titulo="Buscar usuário" [searchField]="true" (search)="buscar($event)"></app-input-field>
    </div>

    <div class="corpo">
        <app-table
            [cabecalho]="cabecalho"
            [rows]="rows"
            [qtResultados]="qtResultados"
            [pagina]="pagina"
            [qtPaginas]="qtPaginas"
            [utilizarOrdenacao]="true"
            (ordena)="ordenar($event)"
            (troca-pagina)="trocaPagina($event)"
            (troca-elemento-pagina)="trocaElementoPagina($event)"
        >

        </app-table>
    </div>

</div>