
.container-home{
    height: 100%;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-head{
    height: auto;   
}

.sidenav {
    height: auto;
    width: 100%;
    background-image: url('../../../../assets/imagens/ilustração.svg');
    overflow-x: hidden;
    padding-top: 20px;
}

.main{
    width: 100%;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}


.login-main-text{
    padding: 40px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}